body{
    background-color: #131218;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.tituloIndex{
    color: rgb(84, 207, 176); 
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
.octeto{
    margin-right: 5px;
    margin-left: 5px;
    margin: 0 auto;
    display: block;
    height: 35px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(84, 207, 176,0.5);
    color: white;
}

.bits{
    margin-right: 2px;
    margin-left: 2px;
    height: 35px;
    width: 100px;
    font-size: 15px;
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(84, 207, 176,0.5);
    color: white;
    float: right;
    text-align: center;
}
#tablaIp{
    margin: 40px auto;
}
.botonCalcular{
    color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    font-size: 17px;
    font-weight: 700;
    background-color: rgb(84, 207, 176,0.3);
}
.botonCalcular:hover{
    background-color: rgba(33, 245, 192, 0.5);
    box-shadow: 0px 0px 5px 5px rgb(84, 207, 176,0.3);
    cursor: grab;
}
 
#tituloInfo{
    text-align: center;
    margin: 100px;
}
.tablaInfo{
    text-align: center;
    margin: 80px auto;
    width: 900px;
    border-radius: 25px;
    display: none;
    box-shadow: 0px 0px 50px 30px rgb(84, 207, 176,0.2);
    padding: 2em 0;
    text-align: left;
    border-collapse: collapse;
}

.tablaInfo2 {
    text-align: center;
    margin: 80px auto;
    width: 700px;
    height: 400px;
    border: none;
    border-radius: 25px;
    display: none;
    box-shadow: 0px 0px 50px 30px rgb(84, 207, 176, 0.2);
    padding: 2em 0;
    text-align: left;
    border-collapse: collapse;
}

.tablaInfo tr:last-child, .tablaInfo2 tr:last-child {
    border-bottom: none;
}


.tablaInfo td, .tablaInfo th{
    padding: 15px;
    width: 80%;
}

.tablaInfo td{
    width: 40%;
}

.tablaInfo tr, .tablaInfo2 tr{
    border-bottom: 1px solid rgba(0, 255, 191, 0.27);
}
.tablaInfo th, .tablaInfo2 th{
    color: rgb(84, 207, 176,0.7);
    padding: 15px;
}