.tituloIndex{
    color: brown;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.botonCalcular{
    display: block;
    margin: 0px auto;
    align-items: center;
    text-align: center;
}
.octeto{
    margin-right: 5px;
    margin-left: 5px;
}
.tituloInfo{
    text-align: center;
}
.tablaInfo{
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
body{
    background-color: peachpuff;

}